header
    z-index: 100
    position: absolute
    width: 100%
        
    .navbar-light
        .navbar-nav 
            .nav-link 
                color: #fff
            .nav-link.active
                color: #00e0d0

    .nav-item
        text-transform: uppercase
        font-family: 'Roboto', sans-serif
        font-weight: 900
        font-size: 13px
        margin-left: 24px
        line-height: 1.2
        letter-spacing: 0.025em
.promo
    min-height: 650px
    background: url('../img/bg_firstSection.png') center (center / cover) no-repeat
    z-index: -1
    &_header
        margin-top: 183px
        text-align: center
        font-family: 'Playfair Display'
        font-size: 32px
        line-height: 1.2
        font-weight: 900
        letter-spacing: 0.01em
        color: #ffffff
    &_divider
        width: 50px
        height: 1px
        margin: 0 auto
        margin-top: 21px
        background-color: #00e0d0
    &_descr
        margin: 0 auto
        margin-top: 30px
        font-family: 'Roboto', sans-serif
        font-size: 14px
        line-height: 24px
        font-weight: 300
        letter-spacing: 0.05em
        color: #ffffff
        text-align: center
    &_btn
        @include buttonBlue
    &_dots
        display: block
        margin: 0 auto
        margin-top: 127px
        text-align: center
        .dot
            display: inline-block
            border-radius: 50%
            width: 50%
            background-color: white
            height: 10px
            width: 10px
            margin: 0 2px
        .dot-color
            background-color: rgba(0,0,0,0)
            border: 1px solid #fff
        .dot-color-active
            background-color: #00e0d0

.story
    min-height: 405px
    padding: 70px 0 70px 0       
    
    &_image
        display: block
        margin: 0 auto
        height: 100%

    &_title
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #413d4b
    &_descr
        margin-top: 28px
        opacity: 0.74
        font-family: 'Roboto'
        font-size: 14px
        line-height: 22px
        font-weight: 300
        letter-spacing: 0.03em
        color: #413d4b
    &_btn
        @include buttonBlue
        margin-top: 31px
        margin-left: 0px

.video
    min-height: 550px
    padding: 202px 0 202px 0
    background: url('../img/bg_thirdSection.png') center (center / cover) no-repeat

    &_centred
        margin: 0 auto

    &_play
        margin: 0 auto
        width: 100px
        height: 100px
    &_descr
        display: block
        margin: 0 auto
        text-align: center
        margin-top: 24px
        font-family: 'Roboto', sans-serif
        font-size: 16px
        line-height: 1.2
        font-weight: 900
        letter-spacing: 0.05em
        color: #ffffff

.expertise
    min-height: 755px
    padding: 72px 0 101px 0

    &_group
        display: block

    &_title
        text-align: center
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #413d4b

    &_descr
        text-align: center
        margin-top: 16px
        opacity: 0.74
        font-family: 'Playfair Display'
        font-size: 14px
        line-height: 1.2
        font-weight: 400
        letter-spacing: 0.075em
        color: #2f2d35
        
    &_divider
        margin: 0 auto
        margin-top: 18px
        width: 50px
        height: 2px
        opacity: 0.3
        background-color: #413d4b

    &_block
        margin-top: 80px
        &_img
            width: 50px
            height: 50px
            margin: 0 auto
            text-align: center
        &_title
            text-align: center
            margin-top: 30px
            font-family: 'Roboto', sans-serif
            font-size: 14px
            line-height: 1.2
            font-weight: 900
            letter-spacing: 0.05em
            color: #413d4b
        &_descr
            text-align: center
            margin-top: 25px
            opacity: 0.74
            font-family: 'Roboto', sans-serif
            font-size: 14px
            line-height: 22px
            font-weight: 300
            letter-spacing: 0.05em
            color: #333333
.team
    padding: 71px 0 69px 0
    min-height: 712px
    background: url('../img/bg_fifthSection.png') center (center / cover) no-repeat
    &_group
        display: block 
    &_title
        text-align: center
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #ffffff
    &_descr
        text-align: center
        margin-top: 16px
        font-family: 'Playfair Display'
        font-size: 14px
        line-height: 1.2
        font-weight: 400
        letter-spacing: 0.075em
        color: #f9f9f9
    &_divider
        margin: 0 auto
        margin-top: 18px
        width: 50px
        height: 2px
        opacity: 0.2
        background-color: #ffff
    &_text
        margin-top: 70px
        text-align: center
        font-family: 'Roboto'
        font-size: 14px
        line-height: 1.2
        font-weight: 300
        letter-spacing: 0.05em
        color: #f3f3f3
    &_btn
        @include buttonBlue
        margin-top: 26px
        min-width: 140px
        font-size: 14px
    &_block
        margin-top: 67px
        &_img
            width: 220px
            height: 229px
            opacity: 0.87
            background-color: #fff
        &_border
            width: 220px
            height: 79px
            border: 1px solid #e1e1e1
            padding: 23px 0 25px 0
            &_title
                text-align: center
                font-family: 'Roboto'
                font-size: 14px
                opacity: 0.80
                line-height: 1.2
                font-weight: 900
                letter-spacing: 0.05em
                color: #fff
            &_descr
                text-align: center
                margin-top: 8px
                opacity: 0.61
                font-family: 'Roboto'
                font-size: 13px
                line-height: 1.2
                font-weight: 300
                color: #fafafa
.works
    padding: 70px 0 70px 0
    min-height: 740px
    &_wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 71px
    &_descr
        margin-right: 10px
        font-family: 'Roboto', sans-serif
        font-size: 14px
        font-weight: 300
        color: #413d4b
        display: flex
        align-items: center

    &_title
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #413d4b 

    &_item
        width: 16.6666667%
        height: 200px
        background-color: red
    &_btn
        @include buttonBlue
        margin-top: 70px

    .test
        display: flex
        justify-content: space-between
    .grey1
        background-color: $grey1
    .grey2
        background-color: $grey2
    .grey3
        background-color: $grey3
    .grey4
        background-color: $grey4
    
.coma
    min-height: 500px
    padding: 69px 0 69px 0
    background: url('../img/bg_seventhSection.png') center (center / cover) no-repeat
    &_symbol
        opacity: 0.9
        font-family: 'Playfair Display'
        font-size: 100px
        line-height: 22px
        font-weight: 400
        letter-spacing: 0.03em
        color: #ffffff
    &_descr
        margin-top: 42px
        opacity: 0.85
        font-family: 'Playfair Display'
        font-size: 16px
        line-height: 26px
        font-weight: 400
        letter-spacing: 0.025em
        color: #ffffff
    &_name
        margin-top: 52px
        font-family: 'Roboto'
        font-size: 14px
        line-height: 22px
        font-weight: 900
        letter-spacing: 0.05em
        color: #ffffff
    &_subname
        margin-top: 13px
        opacity: 0.7
        font-family: 'Roboto'
        font-size: 13px
        line-height: 22px
        font-weight: 300
        color: #ffffff
    &_wrapper
        margin-top: 45px
        display: flex
        justify-content: space-between
        align-items: center
.element
    margin: 0 31px
.elements
    margin: 0 5px

.news
    padding: 72px 0 70px 0
    min-height: 654px 
    &_title
        margin-bottom: 35px
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #413d4b
    &_second
        margin-bottom: 35px
        font-family: 'Playfair Display'
        font-size: 22px
        line-height: 1.2
        font-weight: 700
        letter-spacing: 0.05em
        color: #413d4b

    &_btn
        @include buttonBlue
        margin-left: 0px
        margin-top: 23px
    


.form-group
    margin-top: 23px
    opacity: 0.5
    font-family: 'Roboto'
    font-size: 14px
    line-height: 1.2
    font-weight: 300
    letter-spacing: 0.05em
    color: #413d4b

#FormControlTextarea1
    resize: none 
    height: 200px  

.split-items
    margin-bottom: 52px
    display: flex
    align-items: baseline             

.footer
    background: url('../img/bg_footer.png') center (center / cover) no-repeat
    min-height: 400px
    padding: 70px 0 72px 0
    
    &_content
        margin-top: 20px
        font-family: 'Roboto'
        font-size: 14px
        line-height: 26px
        font-weight: 300
        letter-spacing: 0.025em
        color: #ffffff
    &_studio
        padding-top: 13px
        font-family: 'Roboto'
        font-size: 15px
        line-height: 26px
        font-weight: 900
        letter-spacing: 0.05em
        color: #ffffff
        &_list
            margin-top: 25px
            &_img
                padding-top: 5px
                padding-right: 16px
            &_text
                display: inline-block
                color: #fff
                font-family: 'Roboto'
                font-size: 14px
                line-height: 26px
                font-weight: 300
                letter-spacing: 0.025em

    &_stay
        padding-top: 13px
        font-family: 'Roboto'
        font-size: 15px
        line-height: 26px
        font-weight: 900
        letter-spacing: 0.05em
        color: #ffffff
    &_control
        margin-left: 10px
        margin-right: 10px
        height: 45px
        opacity: 0.5
        border-radius: 0
        border: 1px solid #ffffff
        opacity: 0.74
        font-family: 'Roboto'
        font-size: 14px
        line-height: 26px
        font-weight: 300
        letter-spacing: 0.05em
        color: #ffffff
    
    &_btn
        display: inline-block
        margin: 0 0
        margin-left: 10px
        height: 45px
        width: 70px
        opacity: 0.5
        border-radius: 0
        border: 1px solid #ffffff
        background-color: #fff

    &_social
        display: flex
        justify-content: space-between
        &_item
            display: flex
            justify-content: space-between
            align-items: center
            margin: 0 4px
            width: 32px
            height: 32px
            background-color: red
            border-radius: 100%
            i
                color: #fff
    &_links



    &_copy
        display: inline-block
        margin-right: 300px 


    input[type='email']
        background-color: rgba(0,0 ,0, 0)

    .test_wrap
        display: flex
        align-items: flex-start
    .wf
        display: flex

    .wf-items
        margin-top: 37px
        margin-right: 5%
        height: 30px
        width: 30px
        border-radius: 100%
        border: 1px solid #fff
    i
        color: #fff
        padding-top: 20%
        padding-left: 20%
    .parent
        padding-top: 81px
    
    .child
        height: 30px
        display: inline-block
        widht: 25%
        &_inner
            text-decoration: none
            margin-right: 20px
            font-family: 'Roboto'
            font-size: 14px
            line-height: 26px
            font-weight: 400
            letter-spacing: 0.025em
            color: #ffffff
    #left
        float: right
        margin-right: 10%
     
        
            
        
   
    

   




                        








        
       
        
        

